nav {
  height: 90px;
  box-shadow: 2px 2px 10px lightgray;
}

nav > img {
  margin: 0;
  padding-left: 20px;
  height: 90%;
}

.experiences {
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.experiences--text {
  max-width: 300px;
}