nav {
  height: 70px;
  display: flex;
  box-shadow: 2px 2px 10px lightgray;
}

nav > img {
  padding-left: 20px;
}

.hero {
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.hero--text {
  max-width: 300px;
}

.hero--img {
  margin: 0;
  max-width: 200px;
}